@import "tailwindcss";

/* Hide scrollbar but allow scrolling globally */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  

body{
    background-color: black;
    color:white
}
